<div id="nearest-neighbors" ng-if="nearestNeighbors.length > 0">
    <div class="panel panel-default">
        <h4 class="nym-title">Mots associés</h4>
        <span style="padding: 0px 10px 15px 10px; font-size: 80%">Mots les plus associés à <b>{{ Results.results.headword }}</b> :</span>
        <p style="padding: 0 10px 10px 10px;">
            <a class="synonym" ng-href="/mot/{{ neighbor }}" ng-repeat="neighbor in nearestNeighbors">
                {{ neighbor }}<span ng-hide="$last">,&nbsp;</span>
            </a>
        </p>
    </div>
</div>
