<div class="new-definition" style="margin: 10px; padding: 5px">
    <h3 style="text-align:center;margin-top: -10px; margin-bottom: 10px;font-weight: 700">Contribuez un {{ NewSynAnto.typeOfNym }}...</h3>
        <p>
            Ajouter un {{ NewSynAnto.typeOfNym }}. Puis cliquez sur "Soumettre".
        </p>
        <p class="note-to-user">
            Par mesure de sécurité, tout lien HTML sera désactivé.
        </p>
        <div class="row" style="margin-top: 20px;">
            <div class="col-xs-12 col-sm-3 col-md-2">
                Terme:
            </div>
            <div class="col-xs-12 col-sm-8 col-md-10">
                <input class="form-control" type="text" name="name" value="{{ Main.queryTerm }}" style="max-width: 300px;" ng-model="NewSynAnto.submission.term">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-2" style="margin-top: 10px">
                {{ NewSynAnto.typeOfNym }}:
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6" style="margin-top: 10px">
                <input class="form-control" type="text" name="nym" value="" style="max-width: 300px;" ng-model="NewSynAnto.submission.nym">
            </div>
        </div>

        <div vc-recaptcha key="NewSynAnto.recaptcha.key" required="false" on-success="NewSynAnto.recaptchaResponse(response)" style="margin-top: 10px;"></div>
        <br>
        <button type="button" class="btn btn-default" ng-click="NewSynAnto.submit()">
            Soumettre
            <span class="glyphicon glyphicon-repeat spinning" ng-show="NewSynAnto.submitting"></span>
        </button>
</div>
