<div id="examples" class="panel panel-default">
    <div id="examples-title">
        Exemples d'utilisation
    </div>
    <div class="panel panel-default example" ng-repeat="example in Results.results.examples">
        <div class="example-score">
            <span class="glyphicon glyphicon-circle-arrow-up up" ng-click="vote(example.id, 'up')"></span>
            <span id="{{ ::example.id }}">{{ ::example.score }}</span>
            <span class="glyphicon glyphicon-circle-arrow-down down" ng-click="vote(example.id, 'down')"></span>
        </div>
        <div class="example-content" ng-bind-html="example.content | unsafe"></div>
        <div class="example-source" ng-if="example.source">Source:
            <a ng-href="{{ example.link }}" target="_blank" ng-if="example.link != 'http://'">{{ ::example.source }}</a>
            <span ng-if="example.link == 'http://'">{{ ::example.source }}</span>
        </div>
        <div class="example-source" ng-if="example.date">Contribué le {{ ::example.date }}</div>
    </div>
    <button class="btn btn-default" style="margin: 0 10px 10px 10px" type="button" ng-click="addExample()">
        <span class="glyphicon glyphicon-plus add-button"></span>
        Ajoutez votre exemple
    </button>
</div>