.a-propos {
    text-align: justify;
}
a.btn:hover {
	color: #fff !important;
}
.btn, .panel, .panel-heading, .list-group-item:first-child, .list-group-item:last-child, .popover, .progress, .form-control, .tooltip-inner, .modal-content {
    border-radius: 0px !important;
}
.icon-bar {
    border-radius: 0px !important;
    border: 1px solid #000;
}
