<div id="time-series" ng-show="showTimeSeries">
    <div class="panel panel-default" style="min-height: 200px">
        <h4 id="time-series-title">Usage à travers le temps</h4>
        <h6 style="padding: 0 10px">Occurrences du mot <b>{{ queryTerm }}</b> pour un million de mots</h6>
        <canvas id="line" class="chart" height="200"></canvas>
        <!-- <div style="display: none" ng-show="!showTimeSeries">
            Pas de statistiques disponibles pour ce terme.
        </div> -->
    </div>
</div>
