<div id="collocations" ng-if="collocations.length > 0">
    <div class="panel panel-default">
        <h4 class="nym-title">Collocations</h4>
        <span style="padding: 0px 10px 15px 10px; font-size: 80%">Mots utilisés à proximité de <b>{{ Results.results.headword }}</b> :</span>
        <p style="padding: 0 10px 10px 10px;">
            <a class="synonym" ng-href="/mot/{{ collocate.key }}" ng-repeat="collocate in collocations">
                {{ collocate.key }}<span ng-hide="$last">,&nbsp;</span>
            </a>
        </p>
    </div>
</div>