<div class="panel panel-default new-definition" style="margin: 10px; padding: 20px">
    <h3 style="text-align:center;margin-top: -10px; margin-bottom: 10px;font-weight: 700">Définissez votre mot...</h3>
        <p>
            Entrez votre mot, votre définition, et vos sources (si besoin est). Puis cliquez sur "Soumettre".
        </p>
        <p class="note-to-user">
            Par mesure de sécurité, tout lien HTML sera désactivé. <br>
            Seules les balises HTML &lt;i&gt; (caractères en italiques) et &lt;b&gt; (caractères gras) sont autorisées.<br>
            dans le corps de la définition.
        </p>
        <div class="row" style="margin-top: 20px;">
            <div class="col-xs-12 col-sm-3 col-md-2">
                Terme:
            </div>
            <div class="col-xs-12 col-sm-8 col-md-10">
                <input class="form-control" type="text" name="name" value="{{ Main.queryTerm }}" style="max-width: 300px;" ng-model="NewDefinition.submission.term">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-2" style="margin-top: 10px">
                Definition:
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6" style="margin-top: 10px">
                <textarea id="definition-area" name="name" ng-model="NewDefinition.submission.definition"></textarea><br>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-2" style="margin-top: 10px">
                Source:
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6" style="margin-top: 10px">
                <textarea id="source-area" rows="1" name="name" ng-model="NewDefinition.submission.source"></textarea><br>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-2" style="margin-top: 10px">
                Link:
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6" style="margin-top: 10px">
                <textarea id="link-area" rows="1" name="name" ng-model="NewDefinition.submission.link"></textarea><br>
            </div>
        </div>

        <div vc-recaptcha key="NewDefinition.recaptcha.key" required="false" on-success="NewDefinition.recaptchaResponse(response)" style="margin-top: 10px;"></div>
        <br>
        <button type="button" class="btn btn-default" ng-click="NewDefinition.submit()">
            Soumettre
            <span class="glyphicon glyphicon-repeat spinning" ng-show="NewDefinition.submitting"></span>
        </button>
</div>
