<div class="panel panel-default new-definition" style="margin: 10px; padding: 10px">
    <p>
        Entrez votre mot, votre définition ou votre exemple. Puis appuyez sur "Soumettre".
    </p>
    <p>
        Veuillez limiter votre contribution à 250 mots par champ.
    </p>

    Terme:
    <input class="form-control" type="text" name="name" value="{{ Main.queryTerm }}">

    Definition:
    <br><textarea name="name" rows="8" cols="40"></textarea><br>
    Source:
    <br><textarea name="name" rows="1" cols="40"></textarea><br>
    Link:
    <br><textarea name="name" rows="1" cols="40"></textarea><br>
    <div class="g-recaptcha" data-sitekey="6LfhfycTAAAAAId87HWFIW-N8cShdp6O8fpAMK8h"></div>
    <br>
    <button type="button" class="btn btn-default">Soumettre</button>
</div>
