<div class="panel panel-default" style="margin: 15px" ng-repeat="dico in dictionaries">
    <div class="row" style="text-align: center; font-size: 110%; font-weight: 700; margin-top: 0px; padding: 5px; border-bottom: 1px solid #eee">
        <div class="col-xs-11" style="">{{ dico.label }}</div>
        <div class="col-xs-1">
            <span class="badge pull-right">{{ dico.data.length }}</span>
        </div>
    </div>
    <ul style="text-align: justify">
        <li style="padding-right: 10px" ng-repeat="entry in dico.data">
            <span ng-bind-html="entry | unsafe"></span>
        </li>
    </ul>
</div>
